<!DOCTYPE html>
<html lang="fr">
    
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

        {% block title %}
        <title>Maquette test | Licorn Publishing</title>
        {% endblock %}
        {% block style %}
         
        {% endblock %}

        {% endblock %}
        
    </head>
    <body>
    {% block body %}
        <div class="bg-blue-900 w-3/4 h-1/5">
            
        </div>
        {% block header %}
        <div class="flex flex-row">
            <img src="icons/Logo Licorn.svg" alt="">
        </div>
        {% endblock %}
        {% block nav %}
            {% include "nav.twig" %}
        {% endblock %}

        <section>
        {% block content %}

        {% endblock %}
        </section>
        
        <h1>Hello</h1>
    {% endblock %}
    {% block scriptjs %}
    <script>
        let buttonMenu = document.getElementById('buttonMenu');

        let mobileMenu = document.getElementById('mobileMenu');

        buttonMenu.addEventListener('click', function(){
            mobileMenu.classList.toggle('dropdown');
        });
    </script>
    {% endblock %}
        
    </body>
    
    


</html>