<!DOCTYPE html>
<html lang="fr">
    
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
        <title>Maquette test | Licorn Publishing</title>
        {% endblock %}
        {% block stylesheet %}
         <!-- Styles -->
        <link href="css/app.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap" rel="stylesheet">  
        {% endblock %}

        {% endblock %}
        
    </head>
    <body class="bg-gray-100">
    {% block body %}
        <div class="grid grid-cols-headerColsSm grid-rows-headerRowsSm lg:grid-cols-headerColsLg lg:grid-rows-headerRowsLg  ">
            {% block header %}
            <div class="col-start-1 col-span-4 blue row-start-1 row-span-7 lg:col-start-1 lg:col-span-8 lg-row-start-1 lg-row-span-7 lg:mr-6">
                   
            </div>
            <img class="col-start-2 row-start-1 mt-5 lg:mt-10 lg:ml-2" src="icons/Logo Licorn.svg" alt=""> 
            <div class="bg-blue-600  row-start-1 col-end-7 col-span-2 p-5 lg:col-end-14 lg:col-span-1 lg:p-10">
                <img src="icons/Icon_search.svg" alt="">
            </div>
            <img class="col-start-1 row-start-2 mt-4 lg:row-start-3 "src="icons/Carré_point.svg" alt="">
            <div class="col-start-2 col-span-3 row-start-2 mt-8 lg:ml-32 lg:col-start-1 lg:col-span-6 lg:row-start-3 lg:row-span-2 lg:mt-8">
                <div class="text-white pb-4 flex flex-col">
                    <h1 class="font-bold lg:text-7xl">Lorem ipsum dolor sit amet </h1>
                    <p class="pl-2 mt-3 text-xs">Eos quis fuga qui accusamus aperiam non earum repudiandae</p>
                </div>
                <button class="bg-blue-600 w-30 text-white text-sm p-2 ml-4 mb-2">Lorem Ipsum</button>
                <div class="ml-4 text-white text-sm mb-2">
                    <a  href="#">Prev</a>
                    <a  class="ml-2" href="#">Next</a>
                </div>
            </div>
            <div class="flex flex-row items-end row-start-6 row-span-4 col-start-3 col-span-4 md:row-start-8 md:row-end-10  lg:row-start-7 lg:pb-44">
                <div class="lg:mx-8 font-bold ">
                    <p class="text-sm">FOLLOW US</p>
                </div>
                <div class="flex flex-row mt-1 justify-between items-center lg:mx-8">
                    <img class='mx-3' src="icons/Icon_FB.svg" alt="">
                    <img class='mx-3' src="icons/Twitter.svg" alt="">
                    <img class='mx-3' src="icons/Icon_Insta.svg" alt="">
                </div>
            </div>
            <div class='col-start-2 col-span-5 row-start-6 mt-5 row-span-4 md:row-start-5 md:row-end-9 lg:col-start-6 lg:col-end-15 lg:row-start-2 lg:row-span-10 '>
                <img src="img/Photo_header.png" alt="">
            </div>
            {% endblock %}   
        </div>
        {% block content %}
           
        {% endblock %}

        {% block nav %}
        {% include "nav.twig" %}
        {% endblock %}
        {% block footer %}
        {% include "footer.twig" %}
        {% endblock %}
        
        
    {% endblock %}
        
    </body>
    
    


</html>