<section class="blue  pt-16 pb-32">
    <div class="flex flex-col items-center">
        <div>
            <img src="icons/Logo licorn.svg" alt="logo licorn Publishing">
        </div>
        <div class="flex flex-col p-4 border-b border-white items-center text-white border-solid border-opacity-40">
            <h2 class="text-5xl">Newsletter</h2>
            <h3 class="text-sm">EMAIL ADDRESS</h3>
        </div>
        <div class="flex flex-row justify-center mt-3 mb-6">
            <img class="m-3" src="icons/Icon_FB_blanc.svg" alt="">
            <img class="m-3" src="icons/Icon_Insta_blanc.svg" alt="">
            <img class="m-3" src="icons/Icon_twitter_blanc.svg" alt="">
        </div>
        <nav>
            <ul class="flex flex-row justify-between text-white">
                <li class="flex flex-row justify-between items-center">
                   <a class="text-xs" href="">LOREM</a> 
                </li>
                <img class="ml-1 mr-1"src="icons/Rond_blanc.svg" alt="">
                <li class="flex flex-row justify-between items-center">
                    
                   <a class="text-xs" href="">LOREM</a> 
                </li>
                <img class="ml-1 mr-1" src="icons/Rond_blanc.svg" alt="">
                <li class="flex flex-row justify-between items-center">
                   <a class="text-xs" href="">LOREM</a> 
                </li>
                <img class="ml-1 mr-1" src="icons/Rond_blanc.svg" alt="">
                <li class="flex flex-row justify-between items-center"> 
                   <a class="text-xs" href="">LOREM</a> 
                </li>
                <img class="ml-1 mr-1" src="icons/Rond_blanc.svg" alt="">
                <li class="flex flex-row justify-between items-center">
                   <a class="text-xs" href="">LOREM</a> 
                </li>
                <img class="ml-1 mr-1" src="icons/Rond_blanc.svg" alt="">
                <li class="flex flex-row justify-between items-center">
                   <a class="text-xs" href="">LOREM</a> 
                </li>
            </ul>
            
            
        </nav>
    </div>

<div class="flex flex-row-reverse mt-3 mr-16">
    <img src="icons/btn_fleche.svg" alt="">
</div>
</section>
