{% extends "base.twig" %}

    {% block content %}
        <section class="mt-5 grid grid-col-1 md:grid-col-4 md:mt-32 md:mt-10 lg:w-2/3 lg:m-auto">
            <div class="md:col-start-1 md:col-span-2 md:row-start-1 md:row-span-2">
                <div class="grid grid-col-6">
                    <div class="col-start-1 col-span-1 row-start-1">
                        <img src="icons/Carré_point2.svg" alt="">
                    </div>
                    <div class=" ml-10 mt-8 mr-20 col-start-1 col-span-1 row-start-1">
                        <h2 class="text-2xl">Lorem ipsum dolor sit amet</h2>
                    </div>
                </div>
                
                <div>
                    <div class="grid grid-col-6 grid-row-4 p-4 ">
                        <div class="col-start-1 col-end-7 row-start-1 row-span-4 ">
                            <img  src="img/Image_article1.png" alt="">
                        </div>
                        <div class="p-4 col-start-1 col-span-2 row-start-1 row-span-1 bg-blue-600">
                            <img src="icons/Icon7.svg" alt="">
                        </div>
                        
                        <div class="row-start-2 row-span-1 col-start-1 col-span-6 flex justify-center">
                            <svg class="fill-current text-blue-600 transform  rotate-180 " width="76px" height="76px" viewBox="0 0 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                <title>Btn_fleche</title>
                                <desc>Created with Sketch.</desc>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                    <g id="Maquette_test" transform="translate(-1478.000000, -3710.000000)">
                                        <g id="FOOTER" transform="translate(0.000000, 3275.000000)">
                                            <g id="Btn_fleche" transform="translate(1478.000000, 435.000000)">
                                                <circle id="Oval" stroke="#FFFFFF" stroke-width="0.75" cx="38" cy="38" r="37.625"></circle>
                                                <path d="M37.8941173,25.6360669 C38.0951798,25.4410297 38.4163046,25.4459911 38.6112458,25.6471467 L38.6112458,25.6471467 L46.3641015,33.6471467 C46.558977,33.8482344 46.553941,34.169226 46.3528533,34.3641015 C46.1517656,34.558977 45.830774,34.553941 45.6358985,34.3528533 L45.6358985,34.3528533 L38.5139736,27.0039736 L38.711906,49.0562116 C38.7141385,49.3051107 38.5366419,49.5137282 38.3005097,49.5587935 L38.209448,49.5677856 C37.9294366,49.5702764 37.7004064,49.3453183 37.6978948,49.0653068 L37.6978948,49.0653068 L37.5039736,27.4269736 L30.353027,34.3639331 C30.1743651,34.537241 29.9008889,34.5526394 29.7053874,34.4127567 L29.6360669,34.353027 C29.4410955,34.1520323 29.4459783,33.8310383 29.646973,33.6360669 L29.646973,33.6360669 Z" id="Combined-Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            
                        </div>
                        <div class=" row-start-3 col-start-1 col-span-6 flex justify-center">
                            <h2 class=" text-white text-xs mx-auto">LOREM IPSUM</h2> 
                        </div>
                         
                    </div>
                    <div class="ml-4">
                        <h3 class="text-base">Lorem ipsum</h3>
                        <p class="ml-1 text-sm ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptate itaque suscipit assumenda commodis</p>
                    </div>

                </div>
                <div>
                    <div class="grid grid-col-6 grid-row-4 p-4">
                        <div class="col-start-1 col-end-7 row-start-1 row-span-4 ">
                            <img  src="img/Image_article2.png" alt="">
                        </div>
                        <div class="p-4 col-start-1 col-span-2 row-start-1 row-span-1 bg-blue-600">
                            <img src="icons/Icon 8.svg" alt="">
                        </div>
                        
                        <div class="row-start-2 row-span-1 col-start-1 col-span-6 flex justify-center">
                            <svg class="fill-current text-blue-600 transform  rotate-180 " width="76px" height="76px" viewBox="0 0 76 76" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                <title>Btn_fleche</title>
                                <desc>Created with Sketch.</desc>
                                <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                    <g id="Maquette_test" transform="translate(-1478.000000, -3710.000000)">
                                        <g id="FOOTER" transform="translate(0.000000, 3275.000000)">
                                            <g id="Btn_fleche" transform="translate(1478.000000, 435.000000)">
                                                <circle id="Oval" stroke="#FFFFFF" stroke-width="0.75" cx="38" cy="38" r="37.625"></circle>
                                                <path d="M37.8941173,25.6360669 C38.0951798,25.4410297 38.4163046,25.4459911 38.6112458,25.6471467 L38.6112458,25.6471467 L46.3641015,33.6471467 C46.558977,33.8482344 46.553941,34.169226 46.3528533,34.3641015 C46.1517656,34.558977 45.830774,34.553941 45.6358985,34.3528533 L45.6358985,34.3528533 L38.5139736,27.0039736 L38.711906,49.0562116 C38.7141385,49.3051107 38.5366419,49.5137282 38.3005097,49.5587935 L38.209448,49.5677856 C37.9294366,49.5702764 37.7004064,49.3453183 37.6978948,49.0653068 L37.6978948,49.0653068 L37.5039736,27.4269736 L30.353027,34.3639331 C30.1743651,34.537241 29.9008889,34.5526394 29.7053874,34.4127567 L29.6360669,34.353027 C29.4410955,34.1520323 29.4459783,33.8310383 29.646973,33.6360669 L29.646973,33.6360669 Z" id="Combined-Shape" fill="#FFFFFF" fill-rule="nonzero"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                         
                        </div>  
                        <div class=" row-start-3 col-start-1 col-span-6 flex justify-center">
                            <h2 class=" text-white text-xs mx-auto">LOREM IPSUM</h2> 
                        </div>  
                    </div>
                    <div class="ml-4">
                        <h3 class="text-base">Lorem ipsum</h3>
                        <p class="ml-1 text-sm ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus voluptate itaque suscipit assumenda commodis</p>
                    </div>

                </div>
                
            </div>
            <div class="grid grid-col-1 md:grid-col-2 md:col-start-3 md:col-span-2 md:row-start-1 md:mt-10">
                <div class="md:row-start-1 md:row-span-2 md:col-start-1 md:col-span-1 ">
                    <div class="bg-white flex flex-col items-start m-4">
                        <div class="flex flex-row justify-start">
                            <div class="flex bg-red-500 items-center justify-center">
                                <img class="w-2/3 h-2/3"src="icons/Icon9.svg" alt="">
                            </div>
                            <div class="flex flex-row">
                                <svg class="fill-current text-gray-800" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                    <title>Icon_fleche_CTA</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                        <g id="Maquette_test" transform="translate(-1212.000000, -3033.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                            <g id="CONTACT" transform="translate(0.000000, 2296.000000)">
                                                <g id="CTA" transform="translate(1177.994837, 721.163890)">
                                                    <path d="M44.7591812,17.0571814 C45.1290785,16.6470662 45.7614035,16.6144632 46.1715186,16.9843605 L46.1715186,16.9843605 L54.7947964,24.7619985 C55.2395105,25.1631018 55.2343388,25.8624971 54.7837419,26.25698 L54.7837419,26.25698 L46.1604641,33.8063789 C45.7449237,34.170171 45.11315,34.1282207 44.7493579,33.7126803 C44.3855659,33.29714 44.4275162,32.6653662 44.8430565,32.3015742 L44.8430565,32.3015742 L51.0473365,26.8689314 L35.9203365,26.8694374 C35.4075007,26.8694374 34.9848294,26.4833972 34.9270643,25.9860585 L34.9203365,25.8694374 C34.9203365,25.3171526 35.3680518,24.8694374 35.9203365,24.8694374 L35.9203365,24.8694374 L51.9273365,24.8689314 L44.832002,18.4695188 C44.4534342,18.1280752 44.3965335,17.5630245 44.6809538,17.1555473 Z" id="Icon_fleche_CTA"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <h3 class="text-base">LOREM IPSUM</h3>
                            </div>
                            
                        </div>
                        <div>
                            <img src="img/Image_article3.png" alt="">
                            <p class="p-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ut. Repudiandae recusandae eos itaque architecto, fugiat</p>
                        </div>
                    </div>
                    <div class="bg-white flex flex-col items-start m-4">
                        <div class="flex flex-row justify-start">
                            <div class="flex bg-blue-600 items-center justify-center">
                                <img class="w-2/3 h-2/3"src="icons/Icon7.svg" alt="">
                            </div>
                            <div class="flex flex-row ">
                                <svg class="fill-current text-gray-800" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                    <title>Icon_fleche_CTA</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                        <g id="Maquette_test" transform="translate(-1212.000000, -3033.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                            <g id="CONTACT" transform="translate(0.000000, 2296.000000)">
                                                <g id="CTA" transform="translate(1177.994837, 721.163890)">
                                                    <path d="M44.7591812,17.0571814 C45.1290785,16.6470662 45.7614035,16.6144632 46.1715186,16.9843605 L46.1715186,16.9843605 L54.7947964,24.7619985 C55.2395105,25.1631018 55.2343388,25.8624971 54.7837419,26.25698 L54.7837419,26.25698 L46.1604641,33.8063789 C45.7449237,34.170171 45.11315,34.1282207 44.7493579,33.7126803 C44.3855659,33.29714 44.4275162,32.6653662 44.8430565,32.3015742 L44.8430565,32.3015742 L51.0473365,26.8689314 L35.9203365,26.8694374 C35.4075007,26.8694374 34.9848294,26.4833972 34.9270643,25.9860585 L34.9203365,25.8694374 C34.9203365,25.3171526 35.3680518,24.8694374 35.9203365,24.8694374 L35.9203365,24.8694374 L51.9273365,24.8689314 L44.832002,18.4695188 C44.4534342,18.1280752 44.3965335,17.5630245 44.6809538,17.1555473 Z" id="Icon_fleche_CTA"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <h3 class="text-base">LOREM IPSUM</h3>
                            </div>
                            
                        </div>
                        <div>
                            <img src="img/Image_article4.png" alt="">
                            <p class="p-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ut. Repudiandae recusandae eos itaque architecto, fugiat</p>
                        </div>
                    </div>
    
                </div>
                <div class="md:col-start-2 md:col-span-1 md:row-start-1 md:row-span-2 md:mt-10">
                    <div class="bg-white flex flex-col items-start m-4">
                        <div class="flex flex-row justify-start">
                            <div class="flex bg-blue-600 items-center justify-center">
                                <img class="w-2/3 h-2/3"src="icons/Icon7.svg" alt="">
                            </div>
                            <div class="flex flex-row">
                                <svg class="fill-current text-gray-800" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                    <title>Icon_fleche_CTA</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                        <g id="Maquette_test" transform="translate(-1212.000000, -3033.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                            <g id="CONTACT" transform="translate(0.000000, 2296.000000)">
                                                <g id="CTA" transform="translate(1177.994837, 721.163890)">
                                                    <path d="M44.7591812,17.0571814 C45.1290785,16.6470662 45.7614035,16.6144632 46.1715186,16.9843605 L46.1715186,16.9843605 L54.7947964,24.7619985 C55.2395105,25.1631018 55.2343388,25.8624971 54.7837419,26.25698 L54.7837419,26.25698 L46.1604641,33.8063789 C45.7449237,34.170171 45.11315,34.1282207 44.7493579,33.7126803 C44.3855659,33.29714 44.4275162,32.6653662 44.8430565,32.3015742 L44.8430565,32.3015742 L51.0473365,26.8689314 L35.9203365,26.8694374 C35.4075007,26.8694374 34.9848294,26.4833972 34.9270643,25.9860585 L34.9203365,25.8694374 C34.9203365,25.3171526 35.3680518,24.8694374 35.9203365,24.8694374 L35.9203365,24.8694374 L51.9273365,24.8689314 L44.832002,18.4695188 C44.4534342,18.1280752 44.3965335,17.5630245 44.6809538,17.1555473 Z" id="Icon_fleche_CTA"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <h3 class="text-base">LOREM IPSUM</h3>
                            </div>
                            
                        </div>
                        <div>
                            <img src="img/Image_article5.png" alt="">
                            <p class="p-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ut. Repudiandae recusandae eos itaque architecto, fugiat</p>
                        </div>
                    </div>
                    <div class="bg-white flex flex-col items-start m-4">
                        <div class="flex flex-row justify-start">
                            <div class="flex bg-red-500 items-center justify-center">
                                <img class="w-2/3 h-2/3"src="icons/Icon9.svg" alt="">
                            </div>
                            
                            <div class="flex flex-row ">
                                <svg class="fill-current text-gray-800" width="22px" height="19px" viewBox="0 0 22 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 59.1 (86144) - https://sketch.com -->
                                    <title>Icon_fleche_CTA</title>
                                    <desc>Created with Sketch.</desc>
                                    <g id="Page-1" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
                                        <g id="Maquette_test" transform="translate(-1212.000000, -3033.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                            <g id="CONTACT" transform="translate(0.000000, 2296.000000)">
                                                <g id="CTA" transform="translate(1177.994837, 721.163890)">
                                                    <path d="M44.7591812,17.0571814 C45.1290785,16.6470662 45.7614035,16.6144632 46.1715186,16.9843605 L46.1715186,16.9843605 L54.7947964,24.7619985 C55.2395105,25.1631018 55.2343388,25.8624971 54.7837419,26.25698 L54.7837419,26.25698 L46.1604641,33.8063789 C45.7449237,34.170171 45.11315,34.1282207 44.7493579,33.7126803 C44.3855659,33.29714 44.4275162,32.6653662 44.8430565,32.3015742 L44.8430565,32.3015742 L51.0473365,26.8689314 L35.9203365,26.8694374 C35.4075007,26.8694374 34.9848294,26.4833972 34.9270643,25.9860585 L34.9203365,25.8694374 C34.9203365,25.3171526 35.3680518,24.8694374 35.9203365,24.8694374 L35.9203365,24.8694374 L51.9273365,24.8689314 L44.832002,18.4695188 C44.4534342,18.1280752 44.3965335,17.5630245 44.6809538,17.1555473 Z" id="Icon_fleche_CTA"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <h3 class="text-base">LOREM IPSUM</h3>
                            </div>
                            
                        </div>
                        <div>
                            <img src="img/Image_article6.png" alt="">
                            <p class="p-2 text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, ut. Repudiandae recusandae eos itaque architecto, fugiat</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <section class="bg-gray-200 pt-20 pb-32 mt-20">
            <div class="flex flex-col md:flex-row mt-20 lg:w-2/3 lg:m-auto">
                <div class="ml-4 mr-4 md:w-1/2 md:h-1/2 md:mr-0">
                    <img src="img/Image_contact.png" alt="">
                </div>
                <div class="bg-white flex flex-col justify-center ml-4 mr-4 pb-32 md:w-1/2  md:ml-0 md:mt-16 ">
                    <h2 class="m-auto text-3xl mt-10 font-semibold " style="font-size: 45px; line-height: 45px;">Lorem Ipsum</h2>
                    <p class="w-2/3 m-auto text-center mt-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam dicta velit,</p>
                    <div class="mt-5 ">
                        <div class="flex flex-col w-2/3 m-auto text-gray-400 ">
                            <div class="flex flex-col lg:flex-row lg:w-full mb-3">
                                <div class="flex flex-col">
                                    <label for="name">First name</label>
                                    <input class="pl-2 bg-gray-100 " type="text" name="name" placeholder="Jane"> 
                                </div>
                                <div class="flex flex-col lg:ml-3">
                                    <label for="">Last name</label>
                                    <input class="pl-2 bg-gray-100 "type="text" placeholder="Smith">
                                </div>
                            </div>
                            <div class="flex flex-col mb-3">
                                <label for="name">Email address</label>
                                <input class="pl-2 bg-gray-100  " type="email" name="name" placeholder="Janesmith@example.com"> 
                            </div>
                            <div class="flex flex-col mb-3">
                                <label for="">Message</label>
                                <textarea class="pl-2 bg-gray-100 text-gray-400 "name="" id="" cols="30" rows="5">Hey...
                                </textarea>
                            </div>
                            
                        </div>
                       
    
                    </div>
                    <div class="flex flex-row justify-center bg-black w-1/3 m-auto p-4 mb-3 mt-5">
                        <img class="transform -rotate-90 w-1/8 h-1/8" src="icons/Icon_fleche.svg " alt="">
                        <p class="ml-6 text-white text-sm">LOREM IPSUM</p>
                    </div>

                </div>
            </div>

        </section>
        
        
    {% endblock %}
    
