<nav>
    <div class="container mx-auto fixed bottom-0">
        <div>
                <ul class=" flex flex-row items-center justify-center " id="mobileMenu">
                    <div class="flex flex-row bg-blue-800 justify-between p-4">
                        <li class="mr-4' ml-4">
                            <img src="icons/Icon1.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                        <li class="mr-4 ml-4">
                            <img src="icons/Icon2.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                        <li class="mr-4 ml-4">
                            <img src="icons/Icon3.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                    </div>
                    <div class="flex flex-row justify-between p-4 bg-white">
                        <li class="mr-4 ml-4">
                            <img class="fill-current text-white" src="icons/Icon4.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                        <li class="mr-4 ml-4">
                            <img src="icons/Icon5.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                        <li class="mr-4 ml-4">
                            <img src="icons/Icon6.svg" alt="">
                            <h3 class="hidden">LOREM</h3>
                        </li>
                    </div>
    
                </ul>

        </div>
        
            
        
    
</div>
    
</nav>
