<nav class="fixed bottom-0 blue w-full lg:top-5 lg:w-full lg:absolute flex flex-row lg:justify-center lg:items-start lg:bg-transparent lg:p-0">
        
            <ul class="flex flex-row text-white justify-around lg:items-start w-full lg:justify-between lg:w-8/12 lg:mx-auto" id="mobileMenu">
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-75"src="icons/Icon1.svg" alt="">
                    </div>
                    <h3 class="invisible lg:visible lg:text-lg ">LOREM</h3>
                    <img class="active transform scale-25" src="icons/Oval.svg" alt="">
                </li>
                
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-75" src="icons/Icon2.svg" alt="">
                    </div>
                    
                    <h3 class="invisible lg:visible lg:text-lg ">LOREM</h3>
                </li>
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-75" src="icons/Icon3.svg" alt="">
                    </div>
                    
                    <h3 class="invisible lg:visible lg:text-lg ">LOREM</h3>
                </li>
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-75" src="icons/Icon4.svg" alt="">
                    </div>
                    
                    <h3 class="invisible lg:visible lg:text-lg lg:text-gray-400">LOREM</h3>
                </li>
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-75" src="icons/Icon5.svg" alt="">
                    </div>
                    
                    <h3 class="invisible lg:visible lg:text-lg lg:text-gray-400">LOREM</h3>
                </li>
                <li class="flex flex-col p-2">
                    <div class="flex justify-center">
                        <img class="transform scale-90" src="icons/Icon6.svg" alt="">
                    </div>
                    
                    <h3 class="invisible lg:visible lg:text-lg lg:text-gray-400">LOREM</h3>
                </li>
            </ul>
      
        
    
    
    
</nav>
