@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  display: block;
}

@layer base {
    @font-face {
      font-family: Sen;
      font-weight: 600;
      src: url(../fonts/Sen/Sen-Bold.ttf) format("ttf");
    }
    @font-face {
      font-family: Sen;
      font-weight: 300;
      src: url(../fonts/Sen/Sen-Regular.ttf) format("ttf");
    }
  }